@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
@import url(../resourse/normaliz-style-min.css);
@import url(../resourse/fem-footer-style.css);

// # Front-end Style Guide

// ## Layout
// The designs were created to the following widths:
// - Mobile: 375px
// - Desktop: 1440px

// ## Colors
// ### Primary
$color-link-btn-red: hsl(356, 100%, 66%); // Light red (CTA text)
$color-link-btn-hover: hsl(355, 100%, 74%); // Very light red (CTA hover background)
$color-text-header: hsl(208, 49%, 24%); // Very dark blue (headings)

// ### Neutral
$color-text-main-White: hsl(0, 0%, 100%); // (text)
$color-text-footer: hsl(240, 2%, 79%); // Grayish blue (footer text)
$color-section-bg: hsl(207, 13%, 34%); // Very dark grayish blue (body copy)
$color-footer-bg: hsl(240, 10%, 16%); // Very dark black blue (footer background)

// ### Gradient
// Background gradient - Intro/CTA mobile nav:
$color-headGrdnd-start: hsl(13, 100%, 72%); // Very light red
$color-headGrdnd-end: hsl(353, 100%, 62%); // Light red

// Background gradient - body:
$color-mainGrdnd-start: hsl(237, 17%, 21%); // Very dark gray blue
$color-mainGrdnd-end: hsl(237, 23%, 32%); // Very dark desaturated blue

// ## Typography
// ### Body Copy
$font-size-body: 16px;
$font-Overpass: "Overpass", sans-serif; //body, description
$font-Ubuntu: "Ubuntu", sans-serif; //menu, header

// ### Fonts
// - Family: [Overpass](https://fonts.google.com/specimen/Overpass?preview.text_type=custom)
// - Weights: 300, 600
$font-Overpass-w300: 300;
$font-Overpass-w600: 600;
// - Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom)
// - Weights: 400, 500, 700
$font-Ubuntu-w400: 400;
$font-Ubuntu-w500: 500;
$font-Ubuntu-w700: 700;

// ### variables
$main-container-width: 1440px;
$content-container-width: 1140px;
$content-container-height: 600px;
$content-width: 600px;
$nav-height: 100px;
$footer-height: 360px;
$footer-item-width: 280px;
$gap: 20px;
$font-size-h1: 46px;
$font-size-h2: 32px;
$font-size-h3: 24px;

// ========================
// main styles
body {
	width: 100%;
}
.main_container {
	width: 1440px;
	margin: 0 auto;
}

.content_container {
	font-family: $font-Overpass;
	font-size: $font-size-body;
	font-weight: $font-Overpass-w300;

	width: 1140px;
	margin: 0 auto;

	a,
	li {
		font-family: $font-Ubuntu;
		font-weight: $font-Ubuntu-w700;
	}
}

// ========================
// header styles
.header {
	height: $content-container-height - 100px;
	background: linear-gradient(45deg, $color-headGrdnd-start, $color-headGrdnd-end);
	border-bottom-left-radius: 100px;
	overflow: hidden;
}
.header-cover {
	padding-top: $gap * 3;
}
.header-bg {
	width: 100%;
	height: 100%;
	background-image: url(../images/bg-pattern-intro-desktop.svg);
	background-position-x: 25%;
	background-position-y: center;
	color: $color-text-main-White;
}

// ========================
// navbar + menu
.nav-bar {
	width: 100%;
	// height: $nav-height;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	// gap: $gap;
}
.bar-logo {
	margin-right: $gap * 2;
}

.bar-menu {
}

.bar-menu-items {
	display: flex;
	flex-wrap: nowrap;
	gap: $gap;
}

.menu-item {
	position: relative;
	color: transparentize($color: $color-text-main-White, $amount: 0.3);

	&::after {
		content: url(../images/icon-arrow-light.svg);
	}

	&:hover {
		color: $color-text-main-White;
		text-decoration: underline;
		cursor: pointer;
	}
}
.item-drop-down {
	position: absolute;
	margin-top: $gap;
	padding: $gap;
	background-color: $color-text-main-White;
	border-radius: 10px;

	a {
		color: $color-text-header;
		font-weight: $font-Ubuntu-w500;
	}

	li {
		margin-top: $gap - 5px;
	}

	// &-active active {
	// }
}

.hiden {
	display: none;
}

.bar-link {
	margin: 0 0 0 auto;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: $gap;

	a {
		color: transparentize($color: $color-text-main-White, $amount: 0.3);

		&:hover {
			color: $color-text-main-White;
			text-decoration: underline;
		}
	}

	.btn-link {
		display: flex;
		align-items: center;
		justify-content: center;

		&:first-child {
		}

		&:last-child {
			width: 135px;
			height: 50px;
			border-radius: 25px;
			background-color: white;
			text-align: center;
			color: $color-link-btn-red;
			text-decoration: none;
		}
		&:hover:last-child {
			// border-color: $color-link-btn-hover;
			background-color: $color-link-btn-hover;
			color: $color-text-main-White;
		}
	}
}

// ========================
// header banner content
.content-header {
	margin-top: $gap * 5;
	text-align: center;
}
.header-title {
	h1 {
		font-size: $font-size-h1;
		font-weight: $font-Overpass-w600;
	}
}
.header-description {
	margin-top: $gap * 2;
	color: transparentize($color: $color-text-main-White, $amount: 0.3);
	font-weight: $font-Overpass-w600;
}
.header-link {
	margin-top: $gap * 2.5;
	display: flex;
	justify-content: center;
	gap: $gap;

	.btn-link {
		display: flex;
		width: 135px;
		height: 50px;
		border: solid 1px white;
		border-radius: 25px;
		justify-content: center;
		align-items: center;

		&:first-child {
			background-color: white;
			color: $color-link-btn-red;
		}

		&:last-child {
			color: $color-text-main-White;
		}

		&:hover:first-child {
			border-color: $color-link-btn-hover;
			background-color: $color-link-btn-hover;
			color: $color-text-main-White;
		}

		&:hover:last-child {
			background-color: white;
			color: $color-link-btn-red;
		}
	}
}

// ========================
// main section styles
.main_container {
	section {
		margin-top: $gap * 3;

		&:first-child {
			height: $content-container-height + 200px;
			background-image: url(../images/illustration-editor-desktop.svg);
			background-size: contain;
			background-position-x: 140%;
			background-repeat: no-repeat;
			padding-top: $gap * 5;

			.section-content {
				// margin: auto auto 0 0;
			}
		}

		&:last-child {
			height: $content-container-height + 200px;
			background-image: url(../images/illustration-laptop-desktop.svg);
			background-size: contain;
			background-position-x: -65%;
			background-repeat: no-repeat;
			padding-top: $gap * 5;

			.section-content {
				margin: $gap * 5 0 0 auto;
			}
		}

		&:nth-child(2) {
			position: relative;
			height: $content-container-height - 200px;
			background: linear-gradient(45deg, $color-mainGrdnd-start, $color-mainGrdnd-end);
			border-radius: 0 100px 0 100px;
			// overflow: hidden;

			.section-img {
				max-width: $content-width;
				position: absolute;
				top: -18%;
				left: 5%;
			}

			.section-content {
				margin: 0 0 0 auto;
				padding-top: 10%;

				h3 {
					color: $color-text-main-White;
				}
				p {
					color: transparentize($color: $color-text-main-White, $amount: 0.2);
				}
			}

			.section-bg {
				height: 100%;
				background-image: url(../images/bg-pattern-circles.svg);
				background-repeat: no-repeat;
				background-position: -55% 85%;
			}
		}
	}
}

.section-title {
	h2 {
		text-align: center;
		color: $color-text-header;
		font-size: $font-size-h2;
		font-weight: $font-Overpass-w600;
	}
}

.section-content {
	width: $content-width;
	height: 100%;
	margin-top: $gap * 5;
}

.content-item {
	h3 {
		margin-top: $gap * 2;
		color: $color-text-header;
		font-size: $font-size-h3;
		font-weight: $font-Overpass-w600;
	}
	p {
		margin-top: $gap * 2;
		line-height: 1.5em;
		letter-spacing: 0.05em;
		color: transparentize($color: $color-text-header, $amount: 0.2);
	}
}

// ========================
// footer styles
.footer {
	margin-top: $gap * 5;
	background-color: $color-footer-bg;
	border-top-right-radius: 100px;
}

.footer-nav-bar {
	display: grid;
	grid-auto-flow: column;
	padding: $gap * 3 0;
}
.footer-item {
	width: $footer-item-width;
}

.footer-logo {
}

.footer-item-title {
	h4 {
		color: $color-text-main-White;
		font-family: $font-Ubuntu;
		font-weight: $font-Ubuntu-w700;
		margin-bottom: $gap * 2;
	}
}

.footer-item-nav {
	li {
		margin-bottom: $gap;
	}
	a {
		color: transparentize($color: $color-text-main-White, $amount: 0.3);

		&:hover {
			color: $color-text-main-White;
			text-decoration: underline;
		}
	}
}

.autor {
}
