@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
@import "../resourse/normaliz-style-min.css";
@import "../resourse/fem-footer-style.css";

// # Front-end Style Guide

// ## Layout
// The designs were created to the following widths:
// - Mobile: 375px
// - Desktop: 1440px

// ## Colors
// ### Primary
$color-link-btn-red: hsl(356, 100%, 66%); // Light red (CTA text)
$color-link-btn-hover: hsl(355, 100%, 74%); // Very light red (CTA hover background)
$color-text-header: hsl(208, 49%, 24%); // Very dark blue (headings)

// ### Neutral
$color-text-main-White: hsl(0, 0%, 100%); // (text)
$color-text-footer: hsl(240, 2%, 79%); // Grayish blue (footer text)
$color-section-bg: hsl(207, 13%, 34%); // Very dark grayish blue (body copy)
$color-footer-bg: hsl(240, 10%, 16%); // Very dark black blue (footer background)

// ### Gradient
// Background gradient - Intro/CTA mobile nav:
$color-headGrdnd-start: hsl(13, 100%, 72%); // Very light red
$color-headGrdnd-end: hsl(353, 100%, 62%); // Light red

// Background gradient - body:
$color-mainGrdnd-start: hsl(237, 17%, 21%); // Very dark gray blue
$color-mainGrdnd-end: hsl(237, 23%, 32%); // Very dark desaturated blue

// ## Typography
// ### Body Copy
$font-size-body: 16px;
$font-size-h1: 46px;
$font-size-h2: 32px;
$font-size-h3: 24px;

$font-Overpass: "Overpass", sans-serif; //body, description
$font-Ubuntu: "Ubuntu", sans-serif; //menu, header

// ### Fonts
// - Family: [Overpass](https://fonts.google.com/specimen/Overpass?preview.text_type=custom)
// - Weights: 300, 600
$font-Overpass-w300: 300;
$font-Overpass-w600: 600;
// - Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom)
// - Weights: 400, 500, 700
$font-Ubuntu-w400: 400;
$font-Ubuntu-w500: 500;
$font-Ubuntu-w700: 700;

// ### variables
$main-container-width: 1440px;
$content-container-width: 1140px;
$content-container-height: 600px;
$content-width: 600px;
$nav-height: 100px;
$footer-height: 360px;
$footer-item-width: 280px;
$gap: 20px;

$screen-desctop1200: "min-width:1200px";
$screen-min992: "min-width:992px";
$screen-min768: "min-width:768px";
$screen-min576: "min-width:576px";
$screen-mobile375: "min-width:375px";

// ========================
// main styles
body {
	width: 100%;

	font-family: $font-Overpass;
	font-size: $font-size-body;
	font-weight: $font-Overpass-w300;
	line-height: 1.5em;

	h1,
	h2,
	h3,
	h4,
	a,
	*-item {
		font-family: $font-Ubuntu;
		font-weight: $font-Ubuntu-w700;
	}

	// because at FM task - min screen 375px !!
	@media (max-width: 374px) {
		&::before {
			content: "you must to change your devise !)) 😉";
			color: red;
			font-weight: $font-Overpass-w600;
			font-size: 5rem;
		}
	}
}

.main__container {
	max-width: $main-container-width;
	margin: 0 auto;

	// because at FM task - min screen 375px !!
	@media (max-width: 374px) {
		display: none;
	}

	.container__content {
		max-width: $content-container-width;
		margin: 0 auto;
	}
}

// ========================
// header styles

// !!! - add new style for this !!!

//  !!!
// re-style this items !!!
.buttons-links {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: $gap;

	.btn-link {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 135px;
		height: 50px;

		border-radius: 25px;
		background-color: white;

		color: $color-link-btn-red;
		text-decoration: none;

		&:hover {
			background-color: $color-link-btn-hover;
			color: $color-text-main-White;
		}
	}
}

.bar-link {
	// margin: 0 0 0 auto;

	.btn-link {
		&:first-child {
			color: transparentize($color: $color-text-main-White, $amount: 0.3);
			background: none;
			width: auto;
			padding: 0 $gap;

			&:hover {
				color: $color-text-main-White;
				text-decoration: underline;
			}
		}
	}
}

.header-link {
	margin-top: $gap * 2.5;
	justify-content: center;

	.btn-link {
		border: solid 2px white;

		&:first-child:hover {
			border-color: $color-link-btn-hover;
		}

		&:last-child {
			color: $color-text-main-White;
			background-color: $color-link-btn-hover;
			&:hover {
				background-color: white;
				color: $color-link-btn-red;
			}
		}
	}
}

// ========================
// navbar + menu

// !!! - add new style for this !!!

// ========================
// navbar + menu -> scripts
.hiden {
	// display: none;
}
@media ($screen-min768) {
	// .scroll-top {
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	z-index: 1000;
	// 	width: 100%;
	// 	height: $nav-height;
	// 	padding: 0 $gap * 3;

	// 	transition: all 0.5s;

	// 	&::after {
	// 		content: "";
	// 		display: block;
	// 		position: absolute;
	// 		left: 0;
	// 		z-index: -1;
	// 		width: 100%;
	// 		height: $nav-height;
	// 		background-color: $color-headGrdnd-start;
	// 		border-radius: 0 0 25px 25px;
	// 	}
	// }
}

// ========================
// header banner content

// !!! - add new style for this !!!

// ========================
// main section styles

// !!! - add new style for this !!!

// ========================
// footer styles
.footer {
	margin-top: $gap * 5;
	background-color: $color-footer-bg;
	border-top-right-radius: 100px;

	.footer__navBar {
		display: grid;
		grid-auto-flow: row;
		padding: $gap * 3 0;
		justify-content: center;

		@media ($screen-min576) {
			grid-auto-flow: column;
			justify-content: space-evenly;
		}

		// .navBar_logo {
		// }

		.footer__navBar_item {
			width: auto;
			padding-top: $gap * 3;

			@media ($screen-desctop1200) {
				width: $footer-item-width;
			}

			.navBar_item-title {
				h4 {
					color: $color-text-main-White;
					margin-bottom: $gap * 2;
				}
			}

			.navBar_item-navLinks {
				li {
					margin-bottom: $gap;
				}

				a {
					// color: transparentize($color: $color-text-main-White, $amount: 0.3);
					color: $color-text-footer;

					&:hover {
						color: $color-text-main-White;
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.autor {
	color: $color-text-footer;
}
